* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #dddfeb;
    flex-direction: column;
}

body p , span {
    margin: 10px;
    color: #916dc9;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.rating {
    margin-top: 15px;
    color: #916dc9;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfb2f5;
    color: #916dc9;
    margin: 10px;
    user-select: none;
    border-radius: 10px;
    box-shadow: 0 15px 40px -10px #916dc9 ;
}

.container button {
    background-color: #cfb2f5;
    border: none;
    outline: none;
    margin: 10px;
    font-size: xxx-large;
    width: 40px;
    cursor: pointer;
    text-align: center;
    color: #916dc9;
}
